<header>
  <a href="#hero" class="logo-wrapper">
    <span class="logo">QP</span>
    <div class="logo-text">
      <span class="logo-name">Quenedy Pabular</span>
      <span class="logo-title">Full Stack Developer</span>
    </div>
  </a>
  <nav>
    <ul>
      <button
        class="nav-close"
        id="navClose"
        aria-label="Close navigation menu"
      >
        &#10005;
      </button>
      <li><a href="#about">About Me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <button
    class="hamburger"
    id="hamburger"
    aria-label="Toggle navigation menu"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
